*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

img,
picture,
video,
svg {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: none;
}
