:root {
  --color-green: #44ffa1;
  --color-Purple-900: #24053e;
  --color-Purple-500: #584d62;
  --color-Purple-100: #fcf8ff;
  --color-white: #fff;

  --fs-pr1: 8rem;
  --fs-pr2: 5.6rem;
  --fs-pr3: 3.2rem;
  --fs-pr4: 1.8rem;
  --fs-pr5: 1.8rem;

  --f-france: "france";
  --f-manrope: "mono";

  --space-100: 0.8rem;
  --space-150: 1.2rem;
  --space-200: 1.6rem;
  --space-250: 2rem;
  --space-350: 2.8rem;
  --space-400: 3.2rem;
  --space-500: 4rem;
  --space-550: 4.4rem;
  --space-700: 5.6rem;
  --space-800: 6.4rem;
  --space-1000: 8rem;
  --space-1100: 8.8rem;
  --space-1400: 11.2rem;
  --space-1600: 12.8rem;
  --space-1800: 14.4rem;
  --space-2100: 16.8rem;
  --space-3700: 29.6rem;

  --transition--400-ms: all 0.3s ease-in-out;
}
* {
  transition: var(--transition--400-ms);
}
html {
  font-size: 62.5%;
}

body {
  font-family: var(--f-france), serif;
  background-color: var(--color-white);
}

/* logo */
.logo--dark,
.logo--light {
  max-width: 9.5rem;
}

/* btn */
.btn {
  border: 0;
  outline: 0;
  padding: calc(var(--space-150) - 0.2rem) calc(var(--space-400) - 0.2rem);
  font-family: var(--f-manrope);
  cursor: pointer;
  font-size: var(--fs-pr5);
  font-weight: 700;
  transition: all 0.3s ease-out;
  border: 2px solid var(--color-green);
  line-height: 1.8;
}

.btn--secondery {
  border: none;
  border-bottom: 2px solid var(--color-green);
  background-color: transparent;
  padding: 0.2rem 0.2rem;
  transition: all 0.4s ease-out;
  color: var(--color-white);
}
.btn--secondery:hover {
  color: var(--color-green);
}

.btn--primery {
  background-color: var(--color-green);
  color: var(--color-Purple-900);
}

.btn--primery:hover {
  color: var(--color-green);
  background-color: transparent;
}

/* icon */
.icon {
  display: block;
  text-decoration: none;
  width: var(--space-250);
  height: var(--space-350);
  background-position: center;
  transition: all 50ms;
}

.icon--intagram {
  background: url(../images/icon-instagram.svg);
  background-repeat: no-repeat;
}
.icon--facebook {
  background: url(../images/icon-facebook.svg);
  background-repeat: no-repeat;
}
.icon--twitter {
  background: url(../images/icon-twitter.svg);
  background-repeat: no-repeat;
}

.icon--intagram:hover {
  background: url(../images/socmed-instagram.svg);
  background-repeat: no-repeat;
}
.icon--facebook:hover {
  background: url(../images/socmed-facebook.svg);
  background-repeat: no-repeat;
}
.icon--twitter:hover {
  background: url(../images/socmed-twitter.svg);
  background-repeat: no-repeat;
}

/* navbar */
.list--items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 clamp(var(--space-250), 5vw, var(--space-2100));
  padding-top: clamp(var(--space-400), 6vw, var(--space-800));
  transition: all 200ms;
}

@media screen and (min-width: 64rem) {
  .list--items {
    padding: 0 clamp(var(--space-250), 10vw, var(--space-2100));
    padding-top: clamp(var(--space-400), 6vw, var(--space-800));
  }
}

/* haero--section */
.hero--section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: all 200ms;
}
.hero--header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-500);
  padding-top: var(--space-700);
  text-align: center;
  transition: all 200ms;
}
.hero--title {
  color: var(--color-white);
  font-size: clamp(
    calc(var(--fs-pr1) - 3rem),
    5.5vw,
    calc(var(--fs-pr1) - 0.1rem)
  );
  line-height: 1.1;
  font-variation-settings: 100;
  font-weight: 600;
  padding: 0 3rem;
  max-width: 60rem;
}
.hero--title span {
  border-bottom: solid 3px var(--color-green);
}
.hero--img {
  justify-self: center;
  margin-top: clamp(var(--space-400), 6vw, var(--space-1100));
  padding: 0 var(--space-350);
  max-width: 70rem;
}
.hero--img {
  position: relative;
  width: 100%;
}

@media screen and (min-width: 48rem) {
  .hero--title {
    padding: 0 4rem;
  }
}
@media screen and (min-width: 64rem) {
  .hero--title {
    padding: 0 4rem;
  }
}

@media screen and (min-width: 90rem) {
  .hero--img {
    max-width: 76rem;
  }
}

/* background */

.dark--background {
  background-color: #24053e;
}

.section--curve {
  height: clamp(90rem, 90vw, 120rem);
  clip-path: ellipse(180vw 90% at top);
  position: absolute;
  width: 100%;
  padding-bottom: 40rem;
  top: -40rem;
  z-index: -1;
  transition: all 100ms;
}

@media screen and (min-width: 48rem) {
  .section--curve {
    height: clamp(100rem, 90vw, 120rem);
    clip-path: ellipse(180vw 90% at top);
    position: absolute;
    width: 100%;
    padding-bottom: 40rem;
    top: -40rem;
    z-index: -1;
  }
  header {
    background: url(../images/bg-pattern-1.svg), url(../images/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-position: right calc(135% - 10rem) top 20%, right -5rem top 50%;
    background-size: 24rem, 16rem;
  }
}
@media screen and (min-width: 64rem) {
  .section--curve {
    height: clamp(109rem, 90vw, 120rem);
    clip-path: ellipse(180vw 90% at top);
    position: absolute;
    width: 100%;
    padding-bottom: 40rem;
    top: -40rem;
    z-index: -1;
  }
  header {
    background: url(../images/bg-pattern-1.svg), url(../images/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-position: right 104% top 20%, right -5rem top 50%;
    background-size: 24rem, 16rem;
  }
}

/* content */
.content {
  position: relative;
}
.custom--back--ground {
  position: absolute;
  height: 90rem;
  background-color: var(--color-Purple-100);
  z-index: -2;
  top: -70rem;
  width: 100%;
}
.content--wrapper {
  position: relative;
  background-color: var(--color-Purple-100);

  z-index: -2;
  width: 100%;
}
.custom--shape {
  background-color: var(--color-Purple-100);
  padding-bottom: 12rem;
  clip-path: ellipse(90vw 93% at top);
}

.content--block {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(var(--space-350), 9vw, var(--space-700));
  transition: all 0.4s ease-in-out;
}
.circle--icon {
  padding: calc(var(--space-100) - 0.23rem) calc(var(--space-350) - 1.07rem);
  border: 1px solid var(--color-Purple-500);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--fs-pr3) - 0.46rem);
  color: var(--color-Purple-900);
  max-width: 4.6rem;
  max-height: 4.6rem;
}
.block--footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-200);
  max-width: 33rem;
}
.block--title {
  font-size: clamp(calc(var(--fs-pr3) - 0.8rem), 3.826vw, var(--fs-pr3));
  transition: all 0.4s ease-in-out;
}
.block--desc {
  font-family: var(--f-manrope), serif;
  font-size: clamp(calc(var(--fs-pr4) - 0.2rem), 2vw, calc(var(--fs-pr4)));
  line-height: 1.8;
}
.content--wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 48rem) {
  .content--block {
    flex-direction: row;
    padding: 0 var(--space-350);
  }
  .block--footer {
    gap: var(--space-200);
    max-width: 57.6rem;
    text-align: left;
  }
}
@media screen and (min-width: 64rem) {
  .block--footer {
    gap: var(--space-200);
    max-width: 35.2rem;
    text-align: center;
  }

  .content--block {
    flex-direction: column;
  }
  .content--wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--space-400);
  }
}

/* cta */
.cta {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.founder--img {
  position: relative;
  top: 5rem;
  width: 100%;
  max-width: 26.4rem;
}
.cta--block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(var(--space-400), 6.29vw, var(--space-800));
  text-align: center;
  gap: var(--space-400);
  color: var(--color-white);
  background-color: var(--color-Purple-900);
}
.founder--motion {
  font-size: clamp(
    calc(var(--fs-pr2) - 2.4rem),
    calc(6vw - 1rem),
    var(--fs-pr2)
  );
  /* font-size: clamp(calc(var(--fs-pr2) - 2.4rem), 6vw, var(--fs-pr2)); */
}
.founder--motion__discription {
  font-family: var(--f-manrope), serif;
  font-size: clamp(calc(var(--fs-pr4) - 0.2rem), 1vw, calc(var(--fs-pr4)));
  max-width: 27.1rem;
}
.ctr--img--patern {
  display: none;
}
@media screen and (min-width: 48rem) {
  .cta--block {
    inset: 0 10rem 10rem 9rem;
    align-items: flex-start;
    text-align: left;
  }
  .founder--motion__discription {
    max-width: 40.8rem;
  }
  .founder--img {
    top: 10rem;
    right: 20rem;
  }
  .ctr--img--patern {
    position: absolute;
    display: block;
    max-width: 17.8rem;
    bottom: -7.8rem;
    right: 2%;
    z-index: 10;
  }
}
@media screen and (min-width: 64rem) {
  .cta--block {
    inset: 0 10rem 10rem 9rem;
  }
  .founder--motion__discription {
    max-width: 60.2rem;
  }
  .founder--img {
    transform: scale(1.2);
    top: 11rem;
  }
  .ctr--img--patern {
    right: 8%;
  }
}
@media screen and (min-width: 90rem) {
  .cta--block {
    inset: 0 10rem 10rem 19rem;
  }
  .founder--img {
    transform: scale(1.71);
    top: 15rem;
    right: 30rem;
  }
  .ctr--img--patern {
    right: 12%;
  }
}
/* cta btn */
.cta .btn {
  padding: 1rem 3.4rem;
}

/* footer */
.footer--social {
  display: flex;
  align-items: center;
  gap: var(--space-350);
}
.footer--block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-700);
  padding: clamp(var(--space-1000), 10vw, var(--space-1400));
}
